<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <staticContent>
      <remove fileExtension=".icc" />
      <remove fileExtension=".icm" />
      <mimeMap fileExtension=".icc" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".icm" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
